// FONT FAMILY of Oswald
@font-face {
  src: url('../../assets/fonts/Oswald-Regular.ttf') format('truetype');
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}

// FONT_FAMILY of Poppins
@font-face {
  src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

// FONT FAMILY of Russo One
@font-face {
  src: url('../../assets/fonts/RussoOne-Regular.ttf') format('truetype');
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
}

// FONT FAMILY of Source Sans Pro
@font-face {
  src: url('../../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../../assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
}
