$primary-color: #9a5e44;
$heading-color: #4e494a;
$article-text: #40403f;
$color-article: #40403f;
$bg-color: #e9dac6;
$var-white: #fff;
$footer-text: rgba(255, 255, 255, 0.7);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
