footer {
  background: #000;
  min-height: 200px;
  display: flex;
  align-items: center;

  .MY_FOOTER {
    display: flex;
    align-items: end;
    justify-content: space-between;

    &-info {
      @include give-style(16px, 400, 19px, 'Source Sans Pro');

      color: $footer-text;
      margin: 10px 0;
    }

    &-logo {
      height: 92px;
      width: 92px;
      display: block;
      margin: 0 auto;
      animation: logoAnimation 4s infinite;
    }

    &-title {
      @include give-style(18px, 400, 16px, 'Source Sans Pro');
      text-align: center;

      letter-spacing: 3.6px;
      text-transform: uppercase;
      margin-top: 22px;
    }
  }

  .text-end {
    text-align: end;
  }

  .piece {
    width: 225px;
    margin: 20px 0;
  }

  .laptop-version {
    display: none;
  }
}
