@media screen and (max-width: 800px) {
  .MY_HEADER {
    &-showcase {
      &-img {
        width: 140px;
        height: 123px;
      }

      &-title {
        font-size: 48px;
      }
    }
  }
}
