@media screen and (max-width: 1100px) {
  .MY_NAVBAR {
    .burger-menu {
      display: none;
    }
  }
}

@media screen and (max-width: 840px) {
  .MY_NAVBAR {
    &-links {
      display: none;
    }

    &-burger-menu {
      display: block;
      width: 22px;

      &-line {
        background: #fff;
      }
    }
  }
}
